flask
psycopg2-binary
Flask-SQLAlchemy
marshmallow
flask-marshmallow
marshmallow-sqlalchemy
flask-restful
python-dotenv
pytest
pytest-flask
Werkzeug
SQLAlchemy
git+https://github.com/michaelik/flask-profiler.git
PyMongo
Flask-PyMongo
prometheus-flask-exporter